.mj-video {
    
} 

.video-container{
    position: relative;
}

img.video-controls{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* Make image fill the container */
    height: 100%; /* Make image fill the container */
}

img.video-preview{
    
    width: 100%; /* Make image fill the container */
    height: 100%; /* Make image fill the container */
}

