.mj-hero {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    css-class: 'hero';

    padding-left: 50px;
}

.mj-hero-min-height {
    height: 192px;
}

.mj-hero-text {
    color: #fff;
    width: 259px;
    height: 46px;
    text-align: left;
    font: normal normal bold 18px/22px Adobe Clean;
}
