.mj-hero {
    padding:70px 70px 13px 70px !important;
    position: relative;
    background-color: #FFF;

}

.mj-hero-min-height {
    height: 154px;
}

.mj-hero-logo {
    background:transparent;
    width: 95px;
    padding-bottom: 50px;
}

.mj-hero-text {
    text-align: left;
}

.mj-hero-violator {
    float:left;
    padding:0px 70px 50px 70px !important;
    background-color: white;
}

.mj-hero-violator-text {
    font-family: "Helvetica Neue";
    letter-spacing: 0.33px;
    color: #959595;
    text-transform: uppercase;
    font-size: 11px;
    
}