.mj-hero {
    padding:20px 20px 20px 20px;
    background-color: #FFF;
}

.mj-hero-text {
    text-align: left;
}

.mj-hero-violator {
    float:left;
    padding:0px 20px 20px 20px;
    background-color: white;
}

.mj-hero-violator-text {
    font-size: 11px;
    letter-spacing: 0.33px;
    color: #959595;
    text-transform: uppercase;    
}