.mj-hero {
    padding:46px 50px 20px 50px;
    background: linear-gradient(300deg,  rgba(255, 255, 255, 0) 50%, black 50%);
    position: relative;
}

.mj-hero-min-height {
    height: 154px;
}

.mj-hero-logo {
    background:transparent;
    width: 107px;
    padding-bottom: 80px;
}

.mj-hero-text {
    text-align: left;
}

.mj-hero-violator {
    float:left;
    padding:26px 50px 20px 50px;
    background-color: white;
}

.mj-hero-violator-text {
    letter-spacing: 0.33px;
    color: #959595;
    text-transform: uppercase;
    font-size: 11px;
    
}