.mj-footer {
    padding:46px 50px 20px 50px;
    position: relative;
    background-color: #F5F5F5;
    text-align: left;
    font-size: 10pt;
    letter-spacing: 0.03em;
    line-height: 26px;
    color: #959595;
}

.mj-footer-min-height {
    height: 264px;
}

.mj-footer-logo {
    background:transparent;
    width: 107px;
    padding-bottom: 40px;
}

.mj-footer-text  {
    color: "#959595";
    font-family:  'Helvetica Neue', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: left;
    line-height: 17px;
    font-size: 11px;
    letter-spacing: 0px;
    color: #959595 !important;
}

