/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

h1, h2, h3, h4, h5 {
    text-align: left;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    margin-top:5px;
    margin-bottom: 35px;
}

a {
    color: #2C2C2C;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


p {
    text-align: left;
    font: normal normal normal 18px/26px Adobe Clean;
    color: #2C2C2C;
    margin-top: 0px;
    margin-bottom: 40px;
}

h1 {
    font: normal normal lighter 36px/40px Adobe Clean;
    font-weight: lighter;
    padding:0;
    margin:0;
}

h2 {
    font: normal normal normal 36px/40px Adobe Clean;
    line-height: 1.25;
}

h3 {
    font: normal normal normal 28px/32px Adobe Clean;
}

h4 {
    font: normal normal bold 22px/29px Adobe Clean;
    margin-bottom: 0px;
}

h5 {
    font: normal normal bold 18px/26px Adobe Clean;
}

hr {
    margin-top: 100px;
    margin-bottom: 60px;
}
    
ul {
    padding-left: 1.2em;
    list-style-position: outside;
}

ul li {
    font: normal normal normal 18px/26px Adobe Clean;
    padding-left: 0.6em;
    padding-bottom: 10px;
}
