/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */
mj-all {
    padding: 0;
    font-family:  'Helvetica Neue', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

mj-section {
    css-class: 'section';
    padding-bottom: 40px;
    padding-top: 40px;
    border: 0;
    height: 1px;    
}

mj-body {
    background-color: white;
    width: 755px;
}

mj-button {
    background-color: black;
    border-radius: 0;
    font-size: 11px;
    font-weight: 700;
    line-height: 13.2px;
    text-transform: uppercase;
    width: 180px;
    padding-top: 25px;
}

.mj-content-wrapper {
    background-color: white;
}
.mj-first {
    padding-top: 0px;
    border-top:0;
}

.mj-last {
    padding-bottom: 0px;
    border-bottom:0;
}

.mj-content-image {
    padding-top:10px;
    padding-bottom:10px;
}

.mj-content-section {
    padding-left:20px;
    padding-right:20px;
    background-color: white;
}

.mj-light-sky-blue {
    background-color: rgb(246, 250, 255);
    border:40px solid rgb(255, 255, 255);

}

.mj-section-divider {
    margin-left: 200px;
    margin-right: 200px;
    border-bottom: 1px solid rgb(120,130,140);
}