.mj-indicators {
    padding-right:70px;
    padding-left:70px;
    width:610px;
    padding-bottom:40px;
}

.mj-indicator {
    padding: 10px 0;
}

.mj-indicator-name {
    align: center;
    font-weight: 300;
}

.mj-indicator-value {
    align: center;
    font-size: 45px;
    font-weight: 300;
    padding: 20px 0;
}

.indication-value sub {
    vertical-align: baseline;
    padding-left: 6px;
    font-size: 30px;
}

.indication-value .trend-up {
    vertical-align: super;
    font-size: 18px;
    padding-right: 10px;
}

.indication-value .trend-down {
    font-size: 15px;
    vertical-align: baseline;
    padding-right: 10px;
}

.indication-value .trend-stable {
    font-size: 15px;
    vertical-align: top;
    padding-right: 10px;
}